@charset "UTF-8";


/* 메인슬라이드 서식 */
.swiper-container {
  width: 100%;
  height: 750px;
  overflow: hidden;
}
main .swiper-slide {
  position: relative;
}
.banner .swiper-slide .p_box {
  position: absolute;
  left: 100px; top: 50%;
  transform: translateY(-50%);
}
.banner .swiper-slide a h3 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}
.banner .swiper-slide a h3> small {
  display: block;
  font-size: 2.5rem;
}
.p_box p {
  font-size: 2.2rem;
  line-height: 100px;
}

/* 인기 레시피 서식 */
.famous {
  position: relative;
}
.f_wrap {
  background: #fff;
  width: 35%;
  height: 500px;
  position: relative;
  z-index: 10;
}
.f_shadow {
  width: 85%;
  height: 400px;
  background: #EAE6E6;
  border-radius: 0 0 50% 0 ;
}
.f_name {
  border-right: 3px solid #CE010E;
  border-bottom: 3px solid #CE010E;
  border-radius: 0 0 50% 0 ;
  background: #fff;
  width: 90%;
  height: 350px;
  position: relative; top:-400px;

}
.f_name h3 {
  color: #CE010E;
  font-size: 2rem;
  font-weight: bold;
  line-height: 80px;
}
.f_name h3> small {
  display: block;
  font-size: 1.5rem;
}
.f_name p {
  font-size: 1rem;
  line-height: 20px;
}
.f_name> a {margin-top: 50px;}

.f_name2 {
  position: absolute; left:80px; top: 30px;
}

/* 인기 레시피 슬라이드 구문 */
.mySwiper2 {
  position: absolute; right: 0; top: 0;
  width: 100%; height: 100%;
}
.mySwiper2 .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.mySwiper2 .swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper2 .swiper-slide img {
  display: block;
  width: 350px;
  object-fit: cover;
}
.mySwiper2 .swiper-slide h3 {
  color: #CE010E;
  line-height: 60px;
  font-size: 16px;
}
.mySwiper2 .swiper-slide p {
  font-size: 14px;
  line-height: 30px;
}
.swiper-pagination-bullet{
  background: #000;
}



/* 구매하기 서식 */
.buying {
  height: 500px;
  /* margin: 70px 0; */
  margin-top: 70px;
  position: relative;
}
.product_wrap {
  float: left;
  margin-left: 20%;
  position: absolute; bottom: 110px;
}
.product_wrap ul{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap:50px;
}
.product_wrap ul li {
  text-align: center;   
  font-size: 15px;
}
.product_wrap li img {
  display: block;
  width: 100px;
  margin-bottom: 20px;

}
.product_wrap li:nth-child(3) img {
  object-fit: contain;
  height: 148px;
}
.product_wrap li:last-child img {
  width: 120px;
}
.product_wrap ul + a {
  width: 332px;
  display: inline-block;
  margin: 40px 17%;
  padding: 10px 20px; 
  text-align: center;
  border-radius: 20px;
  border: 1px solid #CE010E;
  font-weight: bold;
  color: #2E5902;
  font-size: 16px;
}
.product_wrap ul + a:hover {
  color: #fff;
  background: #CE010E;
}


.buy_wrap {
  float: right;
  width: 600px; height: 350px;
  position: relative;
}
.buy_shadow {
  width: 83%;
  height: 350px;
  background: #9c9a9a;
  border-radius: 50% 0 0 0; 
  position: absolute; right: 0;
}
.buy_name {
  border-left: 3px solid #CE010E;
  border-top: 3px solid #CE010E;
  background: rgba(253, 253, 243, 0.89);
  border-radius: 50% 0 0 0; 
  width: 92%;
  height: 350px;
  position: absolute; left: 45px;
}
.buy_name h3 {
  color: #CE010E;
  font-size: 2rem;
  font-weight: bold;
  line-height: 80px;
}
.buy_name h3> small {
  display: block;
  font-size: 1.5rem;
}
.buy_name p {
  font-size: 1rem;
  line-height: 20px;
}
.buy_name2 {
  position: absolute; right: 80px; top: 80px;
}
.buy_name a {
  position: absolute; left:-35px; bottom: 10px;
  color: #CE010E;
  font-weight: bold;
}
.buy_name a img {
  display: block;
  width: 40px;
  background: #CE010E;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 30px;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.buy_name a img:hover {
  transform: rotate(0deg);
}

/* 추천레시피  서식*/

.recommend {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(46,89,2,1) 40%);
}

.recommend> h2, .recommend> p{
  text-align: center;
}
.recommend> h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 60px;
}
.recommend> h2 > span { border-bottom: 3px solid #2E5902;}
.recommend> p {
  color: #9c9a9a;
  font-size: 12px;
}

.carousel_wrap{
  width: 1200px;
  margin: 0 auto;
  transform: translateX(110px);
  padding-bottom: 50px;
  overflow: hidden;
}
.recommend .carousel{
  width: 100%;
  height: 80vh;
  margin-left:-175px;
  perspective: 450px; 
}
.recommend .carousel .carousel-item{
  width: 450px;
}
.recommend .card{
  position: relative;
  width: 600px;height: 500px;
  color: #fff;
  box-shadow: none;
}
.recommend .img-area img{
  margin-top: -80px;
  width: 100%;
  opacity: 1 !important;
}
.recommend .img-area{
  text-align: center;
}
.recommend .main-text{
  padding: 8px 0;
  text-align: center;
}
.recommend .main-text h2{
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px;
}
.recommend .main-text p {
  font-size: 16px;
  padding: 0 35px;
}

.carousel .carousel-item {
  visibility: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0
}

.carousel a {opacity: 1 !important;}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none
}
.recommend > div.carousel> a.carousel-item {
  opacity: 1 !important;
}

/* 쉐프의 팁*/
.tip {
  width: 100%;
  height: 860px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 55%, rgba(253,241,0,1) 45%);

}
.tip> h2, .tip> p{
  text-align: center; 
}
.tip> h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 130px;
}
.tip> h2 > span {
  border-bottom: 3px solid #fdf100;
}
.tip> p {
  color: #9c9a9a;
  font-size: 12px;
  margin: 60px 0 230px 0;
}

.tip .tip_wrap {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}
.tip .tip_wrap img {
  width: 350px;
}
.tip .tip_wrap .more_btn {
  display: none;
  position: relative; bottom: 260px;
  margin: 0 auto;
  color: #CE010E;
  background: #fff;
  border-radius: 50px;
  font-size: 14px;
  width: 130px;
  text-align: center;
  padding: 15px 5px;
}
.tip .tip_wrap li:hover img{
  filter: brightness(0.5);
}
.tip .tip_wrap li:hover .more_btn {
  display: block;
}

.tip .tip_wrap img ~ h3, .tip .tip_wrap img ~ p {
  text-align: center;
}
.tip .tip_wrap img ~ h3 {
  font-size: 16px;
  line-height: 60px;
}
.tip .tip_wrap img ~ p{
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 60px;
}
/* 함께 만들어가는 오뚜기 */

.together {
  width: 1200px;
  margin: 0 auto 100px auto;
}
.together> h2, .together> p{
  text-align: center;
}
.together> h2 {
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 80px;
  margin-bottom: 60px;
  margin-top: 90px;
}
.together> h2 > span { border-bottom: 3px solid #CE010E;}
.together> p {
  color: #9c9a9a;
  font-size: 12px;
  margin-bottom: 50px;
}

.together_list {
  width: 1200px; height: 650px;
  margin:0 auto;
  padding-top: 100px;
  display:inline-flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.together_list::before{
  content: '';
  display:block;
  background: url(../image/Together_bg.jpg) no-repeat;
  background-size: 600px;
  width: 700px; height: 700px;
  position: absolute; 
  top: 50px; left: 30px;
}
.together_list img {
  display:block;
  margin: 0 auto;
}

.gold img {
  width: 450px;
}
.gold, .silver, .blond {
  position: relative;
}

.gold::after {
  content:''; 
  display:block;
  width: 130px; height: 130px;
  background: url(../icon/gold.png) no-repeat;
  background-size: contain;
  position: absolute; top: -50px; right: -60px;
}


.rigth_wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding:10px 0;
}
.silver::after {
  content:''; 
  display:block;
  width: 110px; height: 110px;
  background: url(../icon/silver.png) no-repeat;
  background-size: contain;
  position: absolute;top: -30px; right: -40px;
}
.blond::after {
  content:''; 
  display:block;
  width: 100px; height: 100px;
  background: url(../icon/blond.png) no-repeat;
  background-size: contain;
  position: absolute;top: -25px; right: -25px;
}

.silver img {width: 300px;}
.blond img {width: 300px;}

.together_list p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.together_list p> strong {
  display: block;
  color: #CE010E;
  line-height: 50px;
  font-size: 16px;
}