@charset "utf-8";

@media screen and (min-width: 768px) and (max-width:1024px){
body {
  overflow-x: hidden;
}
header {
  width:100%;
}
.h_top {
  width: 100%;
}
.h_top h1 {
  margin:0 auto;
}
.lnb {display:none;}
.right_icon {
  position:absolute;
  right:10px;
  top:30px;
  padding-right:20px
}
.right_icon a {padding: 0 7px;}
.right_icon a span {display:none;}
.right_icon i.fa-search{
  display: block;
  padding-top:3px;
  font-size: 28px;
  color:#fff;
}
label.fa-bars {
  display:block;
  position:absolute;
  left: 20px;
  top:30px;
  font-size: 2rem;
  padding: 6px;
  color:#fff;
}

.swiper-slide > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 인기 레시피 서식 */

.famous {
  position: relative;
}
.f_wrap {
  background: #fff;
  width: 50%;
  height: 400px;
  position: relative;
  z-index: 10;

}
.f_shadow {
  width: 100%;
  height: 100%;
  background: #EAE6E6;
  border-radius: 0 0 50% 0 ;
}
.f_name {
  border-right: 3px solid #CE010E;
  border-bottom: 3px solid #CE010E;
  border-radius: 0 0 50% 0 ;
  background: #fff;
  width: 100%;
  height: 90%;
  position: relative; top:-400px;

}
.f_name h3 {
  color: #CE010E;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 80px;
}
.f_name h3> small {
  display: block;
  font-size: 1rem;
}
.f_name p {
  font-size: 0.8rem;
  line-height: 20px;
}
.more {
  display: block;

  margin-top: 20px;
}

.f_name2 {
  position: absolute; left:80px; top: 30px;
}

/* 인기 레시피 슬라이드 구문 */
.mySwiper2 {
  position: absolute; left: 120px; top: 0;
  width: 85%; height: 100%;
  overflow: hidden;
}
.mySwiper2 .swiper-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mySwiper2 .swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper2 .swiper-slide img {
  display: block;
  width: 200px;
  object-fit: cover;
}
.mySwiper2 .swiper-slide h3 {
  color: #CE010E;
  line-height: 60px;
  font-size: 0.9rem;
}
.mySwiper2 .swiper-slide p {
  font-size: 0.6rem;
  line-height: 20px;
}
.swiper-pagination-bullet{
  background: #000;
  position: relative; left: 20%;

}

/* 구매하기 서식 */
.buying {
  height: 500px;
  /* margin: 70px 0; */
  margin-top: 70px;
  position: relative;
}
.product_wrap {
  float: left;
  margin-left: 5%;
  position: absolute; bottom: 110px;
}
.product_wrap ul{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 20px;
}
.product_wrap ul li {
  text-align: center;   
  font-size: 0.6rem;
}
.product_wrap li img {
  display: block;
  width: 50px;
  margin-bottom: 20px;
}
.product_wrap li:nth-child(2) img {
  margin-left: 13px;
}
.product_wrap li:nth-child(3) img {
  object-fit: contain;
  width: 40px;
  transform: translateY(30px);
  /* height: 148px; */
}
.product_wrap li:last-child img {
  width: 90px;
}
.product_wrap ul + a {
  width: 200px;
  display: inline-block;
  margin: 20px 15%;
  padding: 10px 10px; 
  text-align: center;
  border-radius: 20px;
  border: 1px solid #CE010E;
  font-weight: bold;
  color: #2E5902;
  font-size: 0.8rem;
}

.buy_wrap {
  float: right;
  width: 50%; height: 350px;
  position: relative;
}
.buy_shadow {
  width: 83%;
  height: 100%;
  background: #9c9a9a;
  border-radius: 50% 0 0 0; 
  position: absolute; right: 1px;
}
.buy_name {
  border-left: 3px solid #CE010E;
  border-top: 3px solid #CE010E;
  background: rgba(253, 253, 243, 0.89);
  border-radius: 50% 0 0 0; 
  width: 88%;
  height: 100%;
  position: absolute; right: 0px; bottom: 0;
}
.buy_name2 h3 {
  color: #CE010E;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 80px;
}
.buy_name2 h3> small {
  display: block;
  font-size: 1rem;
}
.buy_name2> p {
  font-size: 1rem;
  line-height: 0.5rem;
}
.buy_name2 {
  position: absolute; right: 10%; bottom: 0;
}
.buy_name a {
  position: absolute; right: 10%; bottom: 10px;
  color: #CE010E;
  font-weight: bold;
}
.buy_name a img {
  display: block;
  width: 30px;
  background: #CE010E;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 20px;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.buy_name a img:hover {
  transform: rotate(0deg);
}

/* 추천레시피  서식*/

.recommend {
  /* margin-top: 50px; */
  height: 500px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(46,89,2,1) 40%);
  /* border: 3px solid #000; */
}

.recommend> h2, .recommend> p{
  text-align: center;
}
.recommend> h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 60px;
}
.recommend> h2 > span {border-bottom: 3px solid #2E5902;}
.recommend> p {
  color: #9c9a9a;
  font-size: 1rem;
}

.carousel_wrap{
  width: 71%;
  height: 626px;
  margin: 0 auto;
  transform: translate(-36px, -203px);
  padding-bottom: 50px;
  overflow: hidden;
}
.recommend .carousel{
  width: 100%;
  height: 80vh;
  margin-left: -286px;
  perspective: 640px; 
}
.recommend .carousel .carousel-item{
  width: 450px;
}
.recommend .card{
  position: relative;
  width: 600px;height: 500px;
  color: #fff;
  box-shadow: none;
}
.recommend .img-area img{
  margin-top: -8px;
  width: 57%;
  opacity: 1 !important;
}
.recommend .img-area{
  text-align: center;
}
.recommend .main-text{
  padding: 8px 0;
  text-align: center;
}
.recommend .main-text h2{
  font-weight: 900;
  font-size: 1rem;
  margin: 0 0 20px;
}
.recommend .main-text p {
  font-size: 0.8rem;
  padding: 0 35px;
}

.carousel .carousel-item {
  visibility: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0
}

.carousel a {opacity: 1 !important;}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none
}
.recommend > div.carousel> a.carousel-item {
  opacity: 1 !important;
}

/* 쉐프의 팁*/
.tip {
  width: 100%;
  height: 500px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 55%, rgba(253,241,0,1) 45%);
  margin-top: 150px;
}
.tip> h2, .tip> p{
  text-align: center; 
}
.tip> h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 50px;
}
.tip> h2 > span {
  border-bottom: 3px solid #fdf100;
}
.tip> p {
  color: #9c9a9a;
  font-size: 1rem;
  margin: 60px 0 230px 0;
}

.tip .tip_wrap {
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
  /* gap: 20px; */
  margin-left: 4px;
  transform: translateY(-135px);
}
.tip .tip_wrap img {
  width: 230px;
}

.tip .tip_wrap img ~ h3, .tip .tip_wrap img ~ p {
  text-align: center;
}
.tip .tip_wrap img ~ h3 {
  font-size: 0.8rem;
  line-height: 60px;
}
.tip .tip_wrap img ~ p{
  font-size: 0.7rem;
  line-height: 20px;
  padding-bottom: 60px;
}

/* 함께 만들어가는 오뚜기 */

.together {
  width: 100%;
  margin: 0 auto 100px auto;
}
.together> h2, .together> p{
  text-align: center;
}
.together> h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 80px;
  margin-bottom: 60px;
  margin-top: 90px;
}
.together> h2 > span { border-bottom: 3px solid #CE010E;}
.together> p {
  color: #9c9a9a;
  font-size: 1rem;
  margin-bottom: 50px;
}

.together_list {
  width: 100%; height: 650px;
  margin:0 auto;
  padding-top: 100px;
  display:inline-flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.together_list::before{
  content: '';
  display:block;
  background: url(../image/Together_bg.jpg) no-repeat;
  background-size: 660px;
  width: 700px; height: 700px;
  position: absolute; 
  top: 60px; left: 30px;
}
.together_list img {
  display:block;
  margin: 0 auto;
}

.gold img {
  width: 450px;
}
.gold, .silver, .blond {
  position: relative;
}

.gold::after {
  content:''; 
  display:block;
  width: 130px; height: 130px;
  background: url(../icon/gold.png) no-repeat;
  background-size: contain;
  position: absolute; top: -50px; right: -60px;
}


.rigth_wrap{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding:10px 0;
}
.silver::after {
  content:''; 
  display:block;
  width: 110px; height: 110px;
  background: url(../icon/silver.png) no-repeat;
  background-size: contain;
  position: absolute;top: -30px; right: -40px;
}
.blond::after {
  content:''; 
  display:block;
  width: 100px; height: 100px;
  background: url(../icon/blond.png) no-repeat;
  background-size: contain;
  position: absolute;top: -25px; right: -25px;
}

.silver img {width: 300px;}
.blond img {width: 300px;}

.together_list p {
  text-align: center;
  line-height: 20px;
  font-size: 0.8rem;
}
.together_list p> strong {
  display: block;
  color: #CE010E;
  line-height: 50px;
  font-size: 1rem;
}

/* 푸터 상단 서식 */
footer {
  width: 100%;
  height: 250px;
  background: #CE010E;
  position: relative;
}
.footer_top {
  height: 60px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer_top h1 {position: relative; top: 30px; left: 20px;}
.footer_top h1 img {width: 80px;}
.f_nav {display: flex;}
.f_nav li {margin: 0 15px;}
.f_nav a {
  color: #fff;
  /* line-height: 60px; */
  font-size: 0.8rem;
}
.f_center {
  padding-left: 40px;
  padding-right: 230px;
}
.f_site {
  padding-top: 20px;
  position: absolute; right: 20px;
}
select {
  width: 200px;
  padding: 10px 5px;
  border: 1px solid #CE010E;
  color: #CE010E;
  font-family: inherit;
  background-color: #fff;
  border-radius: 50px;
  appearance: none;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  }

address {
  width: 600px;
  margin-left: 10px;
  /* padding-top: 23px; */
  font-style: normal;
  line-height: 160%;
  font-size: 0.8rem;
  color: #fff;
}
.f_sns {
  display: flex;
  position: absolute; right: 10px; top: 80px;
}
.f_sns li {padding: 0 5px;}
.f_sns img {
  width: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.f_sns span {display: none;}
footer .copy {
  color: #fff;
  position: absolute;
  left: 50%; bottom: 20px;
  transform: translateX(-50%);
  /* padding: 50px 0; */
}


}